<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">


<body>


<br>


 </div>
      <form id="dashboardFormId" th:object="${content}">
        <input type="hidden" th:field="*{id}"  />
        <div class="form-group row">
            <div class="col-xs-8">
                <label  for="message">Welcome Message</label>
                <textarea id="message" th:field="*{message}" class="form-control" placeholder="Welcome Message"> </textarea>
            </div>

        </div>
        <br>

        <div class="form-group row">
            <div class="col-xs-8">
                <label  for="terms">Terms & Condition</label>
                <textarea id="terms" th:field="*{terms}" class="form-control" placeholder="Terms & Condition"></textarea>
            </div>

        </div>
       <br>
        <div class="form-group row">
            <div class="col-xs-8">
                <label  for="privacyPolicy">Privacy Policy</label>
                <textarea id="privacyPolicy"   th:field="*{policy}" class="form-control" placeholder="Privacy Policy"></textarea>
            </div>

        </div>

        <br>

          <div class="form-group row">
              <div class="col-xs-8">
                  <label  for="aboutUsId">About Us</label>
                  <textarea id="aboutUsId"   th:field="*{aboutUs}" class="form-control" placeholder="About Us"></textarea>
              </div>

          </div>
        <div class="form-group row">
        <div class="col-xs-4">
            <button type="button"  onclick="dashBoardSaveFunction()"  class="btn btn-primary btn-block btn-large">UPDATE</button>
        </div>
        </div>
     </form>
</div>
</body>
</html>


<script>
function dashBoardSaveFunction(){


         var formData=$("#dashboardFormId").serialize();
           $.ajax({
              url: apiUrl+"/dashboard/update",
              type: "POST",
            headers:{
            "Authorization": "Bearer " + window.sessionStorage.getItem("authTokenId")
             },
             data: formData,

       success: function (jqXHR) {
         $.notify("Day Data Saved", "success");
        },
       error: function (jqXHR) {
        alert(jqXHR.responseJSON.message);

        },

    });

}

</script>
