<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">


<body>
<div class="banner">
    <h3>Dashboard Data</h3>
</div>

<br> <br>

<br> <br>




 </div>
      <form id="dashboardFormId" th:object="${content}">
        <input type="hidden" th:field="*{id}"  />
        <div class="form-group row">
            <div class="col-xs-6">
                <label  for="declaration">Declaration</label>
                <textarea id="declaration" th:field="*{message}" class="form-control" placeholder="Declaration"> </textarea>
            </div>

        </div>
        <br>

        <div class="form-group row">
            <div class="col-xs-6">
                <label  for="aggrement">Aggrement</label>
                <textarea id="aggrement" th:field="*{terms}" class="form-control" placeholder="Aggrement"></textarea>
            </div>

        </div>
       <br>
        <div class="form-group row">
            <div class="col-xs-6">
                <label  for="privacyPolicy">Privacy Policy</label>
                <textarea id="privacyPolicy"   th:field="*{policy}" class="form-control" placeholder="Privacy Policy"></textarea>
            </div>

        </div>

        <br>
        <div class="form-group row">
        <div class="col-xs-6">
            <button type="button"  onclick="dashBoardSaveFunction()"  class="btn btn-primary btn-block btn-large">UPDATE</button>
        </div>
        </div>
     </form>
</div>
</body>
</html>


<script>
function dashBoardSaveFunction(){


         var formData=$("#dashboardFormId").serialize();
           $.ajax({
              url: "/dashboard/update",
              type: "POST",
            headers:{
            "Authorization": "Bearer " + window.sessionStorage.getItem("authTokenId")
             },
             data: formData,

       success: function (jqXHR) {
         alert("Data Saved");
        },
       error: function (jqXHR) {
        alert(jqXHR.responseJSON.message);

        },

    });

}

</script>
