<html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{/css/datatables.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/datatables.js}"></script>
    <script th:src="@{/js/jquery.js}"></script>
    <script  th:src="@{/js/index.js}" ></script>


</head>

<body class="indexBody">
<div id="dashboardPageId"></div>
<div id="addDayPageId"></div>
<div id="viewDayPageId"></div>

<div id="loginDivId" style="text-align:center">
    <h3>Login</h3>
      <form method="POST" id="loginFormId" >
        <div class="row">
            <div class="col">
                <input type="text"  name="username" class="form-control" placeholder="username">
            </div>

        </div>

        <div class="row">
            <div class="col">
                <input type="password"  name="password" class="form-control" placeholder="password">
            </div>

        </div>

        <div class="row">
            <button type="button" onclick="loginForm()" class="btn btn-primary btn-block btn-large">Let me in.</button>
        </div>


    </form>
</div>


</body>

<script>



</script>


<style>


</style>

</html>

