<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>You And Me</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="main-container">

    <form th:action="@{/home}" method="POST" class="form-signin">
        <h2  th:text="Welcome" ></h2>

            <div class="login-container">

                <div class="login-icon"><i class="fa fa-user" aria-hidden="true"></i></div>

                <input type="text" id="user_name" name="username" placeholder="User Name"/>
                <input type="password" placeholder="Password"
                       id="password" name="password" />

                <div th:if="${error}">
                    <p class="error-msg">Login with valid username & password</p>
                </div>
                <button name="Submit" value="LOGIN" type="Submit"
                        th:text="Login"></button>

            </div>
    </form>
</div>
</body>
</html>