<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>

  <script  th:src="@{/js/subscribers.js}" ></script>

</head>

<body>


<br> <br>

<div class="container">
  <div id="theSubscriberDataRow">

    <table id="example2" class="display" style="width:100%">
      <thead>
      <tr>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Email</th>
        <th>FeedBack</th>
        <th>Delete</th>

      </tr>
      </thead>

    </table>
  </div>
</div>



</body>
</html>


<script>


</script>

<style>

.text-wrap{
    white-space:normal;
}
.width-200{
    width:50px;
}

</style>


