<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>

    <script  th:src="@{/js/viewDayPage.js}" ></script>

</head>

<body>


<br> <br>

<div class="container">
    <div id="theDataRow">

            <table id="example" class="display nowrap" style="width:100%">
                <thead>
                <tr>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Genere 1</th>
                    <th>Genere 2</th>
                    <th>Message</th>
                    <th>Link</th>



                </tr>
                </thead>

            </table>
    </div>
</div>



</body>
</html>


