.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: auto;
   padding: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}




.indexBody {
  background-image: url('/images/home.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;



}

.fixDiv {
 position: absolute;
}


.modal-content{
    max-height:100%;
    overflow-y: auto;
}

.modal-body {
     height:auto;
   }





.navbar {
  overflow: hidden;
  background-color: #4169e1;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 88px;
  text-decoration: none;
}

.navbar a:hover{
  background-color: white;
}


