.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  margin: auto;
  padding: 10px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font: 400 15px Lato, sans-serif;
  line-height: 1.8;
  color: #818;
}

.jumbotron {
  font-family: Montserrat, sans-serif;

}

.navbar {
  font-family: Montserrat, sans-serif;
}



h3 {
  font-size: 24px;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}



.container-fluid {
  padding: 60px 50px;
}






.modal-content{
    max-height:100%;
    overflow-y: auto;
}

.modal-body {
     height:auto;
   }




label {
    color: #555;
    display: block;
    padding: 10px;
    margin: 3px;
}

.appGreen {
  background-color: #578828;
}

.appBluishGreen {
  background-color: #465880;
}

.appPurpel{
  background-color: #713c9a;
}

.appLightBrown{
  background-color: #B08B3B
}