*{
    padding: 0px;
    margin: 0px;
}

html {
    background-color: aquamarine;
    font-size: 16px;
    font-family: 'Baloo Bhai 2', cursive;
    background-image: url('/images/bg-image.jpg');
    background-repeat: no-repeat;
    box-sizing: border-box;
}

h2 {
    text-align: center;
    margin-top: 20px;
    text-transform: capitalize;
    text-shadow: 1px;
}

.login-icon {
    text-align: center;
    font-size: 6em;
    margin-bottom: -15px;
}

.login-container {
    margin: 4rem 24rem;
    padding: 0rem 1rem 1rem 1rem;
    width: 30rem;
    height: 20rem;
    background-color: #fff;
    border: solid 3px steelblue;
}

input {
    display: block;
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 25rem;
    padding: 5px;
}

.error-msg {
    color: red;
    text-align: center;
    font-style: italic;
    visibility: visible;
}

button {
    display: block;
    margin-left: 2rem;
    margin-top: 10px;
    width: 26rem;
    padding: 5px;
    font-style: normal;
}